.flex-container{
    background-color: burlywood;
    height: 100vh;
    display: flex;
    justify-content: center ;
    align-items: center;
    gap: 10px;
}
.flex-item{
    background-color: #ff4500;
    height: 100px;
    padding: 30px;  
}


